<div id="bigImage">
    <div class="Carousel" id="ca">
        <img class="img1" src="assets/Images/caro1.jpg" width="100%" height="600" alt="">
        <div class="text-caro1">
            <h2 class="allpro" id="monospace">New Inpsiration 2024</h2>
            <h1 class="word-animation">
                <span>CLOTHING</span>
                <span>MADE</span>   
                <span>FOR</span>
                <span>YOU!</span>
            </h1>
            <h3 class="allpro" >Trending from men and women style collection</h3>

           
        </div>
    </div>

</div>