<div class="allCard">
    <div class="card">
        <img src="assets/Images/tshirt.jpg" alt="Product Image" class="card-image">
        <div class="card-content">
          <h2 class="card-title">Product Name</h2>
          <p class="card-description">This is a description for card 1.</p>
        </div>
      </div>
      
      <div class="card">
        <img src="assets/Images/shoe1.jpg" alt="Product Image" class="card-image">
        <div class="card-content">
          <h2 class="card-title">Product Name</h2>
          <p class="card-description">This is a description for card 2.</p>
        </div>
      </div>
      <div class="card">
        <img src="assets/Images/shoe3.jpg" alt="Product Image" class="card-image">
        <div class="card-content">
          <h2 class="card-title">Product Name</h2>
          <p class="card-description">This is a description for card 3.</p>
        </div>
      </div>
      <div class="card">
        <img src="assets/Images/shoe3.jpg" alt="Product Image" class="card-image">
        <div class="card-content">
          <h2 class="card-title">Product Name</h2>
          <p class="card-description">This is a description for card 4.</p>
        </div>
      </div>
</div>